<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<h1>Signup</h1>
		{{#if hasErrors}}
			<div class="alert alert-danger">
				{{# each messages}}
					<p>{{this}}</p>
				{{/each}}
			</div>
		{{/if}}
		<form action="/user/signup" method="post">
			<div class="form-group">
				<label for="username">Username</label>
				<input type="username" id="username" name="username" class="form-control">
			</div>	
			<div class="form-group">
				<label for="email">Email</label>
				<input type="text" id="email" name="email" class="form-control">
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" id="password" name="password" class="form-control">
			</div>
			<div class="form-group">
				<label for="passwordTwo">Re-enter Password</label>
				<input type="password" id="passwordTwo" name="passwordTwo" class="form-control">
			</div>			
			{{!-- Token is also submitted when I sent the form. CSRF will try to find the input with _csrf --}}
			<input type="hidden" name="_csrf" value="{{csrfToken}}">
			<button type="submit" class="btn btn-primary">Sign Up</button>
		</form>
	</div>
</div>