.thumbnail img{
	max-height: 150px;
}

.thumbnail .description {
	color: #7f7f7f;
}

/*Possibly remove, made thumbnails all the same height*/
.thumbnail {
	min-height: 350px;
}

.price {
	font-weight: bold;
	font-size:  16px;
}

#navBarSearchForm input[type=text]{
	width: 430px !important;
}

.brandTitle{
	text-align: center;
}

.thumbnail.brandTitle{
	min-height: 200px;
}
