<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>

<div class="row">
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail brandTitle" >
		  	<div class="caption">
		    	<h2 class="brandTitle"><a href="/categories/canon">Canon</a></h3>		    	
			</div>
		</div>
    </div>
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail brandTitle" >
		  	<div class="caption">
		    	<h2 class="brandTitle"><a href="/categories/nikon">Nikon</a></h3>		    	
			</div>
		</div>
    </div>
    <div class="col-sm-6 col-md-4">
		<div class="thumbnail brandTitle" >
		  	<div class="caption">
		    	<h2 class="brandTitle"><a href="/categories/sony">Sony</a></h3>		    	
			</div>
		</div>
    </div>
    <div class="col-sm-6 col-md-4">
		<div class="thumbnail brandTitle" >
		  	<div class="caption">
		    	<h2 class="brandTitle"><a href="/categories/panasonic">Panasonic</a></h3>		    	
			</div>
		</div>
    </div>    
</div>

